<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewsSUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A01AE1029BE59CD00185B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A01AE2029BE59CE00185B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A01AE2A29BE59CE00185B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
